<!--suppress HtmlUnknownTarget -->
<head>
    <title>Fred's notes</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <section class="column">
        <header>
            Fred's notes
        </header>
        <section class="inner-column">
            <section class="sidebar">
                <p>Here be the sidebar</p>
            </section>
            <section class="content" id="page-content"></section>
        </section>
    </section>
</body>